/* Floating Action Button */
.fab {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    z-index: 1000;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    color: white;
    font-size: 24px;
    line-height: 60px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Smooth transition for rotation */
}

.fab.rotate {
    transform: rotate(45deg); /* Rotate 45 degrees */
}

.fab-right {
    right: 10%;
    background-color: #007bff;
}

.fab-left {
    left: 25px;
    background-color: #607d8b;
}

.rotated {
    transform: rotate(45deg);
}


/* Input Box Styling */
.form-control-task {
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
}

.form-control-task:focus {
    border-color: #007bff;
    box-shadow: none;
}

.table {
    width: 100%;
}

.table th.task-column, 
.table td.task-column {
    width: 70%;
}

.table th.priority-column, 
.table td.priority-column {
    width: 15%;
}

.table th.actions-column, 
.table td.actions-column {
    width: 15%;
}

/* Badge Style for Priority */
.badge-high { background-color: #dc3545; }
.badge-medium { background-color: #ffc107; }
.badge-low { background-color: #28a745; }

/* Full-width Save Button */
.btn-block {
    width: 100%;
}

/* Table Row Hover Effect */
.table-hover tbody tr:hover {
    background-color: #f8f9fa;
}

.action-btn {
    border-radius: 70% !important;
    padding: 2px 5px !important;
    font-size: 3px !important;
}

.modal.left .modal-dialog {
    position: fixed;
    margin: auto;
    width: 100%;
    height: 100%;
    right: auto;
    bottom: auto;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.modal.left.show .modal-dialog {
    transform: translateX(0);
}

.modal-content {
    border-radius: 0;
    height: 100%;
}

.undo-btn {
    margin-left: 10px;
}

.app-logo {
    width: 100px;
    height: 100px;
}